# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html


# scrapyd-deploy  部署名称  -p  项目名称


[settings]
default = GameDataSpider.settings

[deploy:GameSpider]
url = http://47.57.190.6:7878/
project = GameDataSpider
