# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html


# scrapyd-deploy  GameSpider  -p  GameDataSpider


[settings]
default = GameDataSpider.settings

[deploy:GameSpider]
url = http://47.57.190.6:7878/
;url = http://127.0.0.1:6800/
project = GameDataSpider

